<div class="container mt-5">
  <form [formGroup]="blogForm" (submit)="addItem()">
    <div class="form-group my-3">
      <input formControlName="name" type="text" class="form-control" placeholder="Заголовок блогу (Обов'язкове поле)">
    </div>
    <div class="form-floating my-3">
      <textarea formControlName="description" class="form-control" placeholder="Leave a comment here"
        id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Текст блогу (Обов'язкове поле)</label>
    </div>
    <div class="form-group my-3">
      <input formControlName="imagePath" type="text" class="form-control"
        placeholder="Шлях зображення (Обов'язкове поле)">
    </div>
    <button type="submit" class="btn btn-primary my-2 w-100">Додати допис</button>
  </form>
</div>


<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Заголвоок</th>
        <th scope="col">Опис</th>
        <th scope="col">Зображення</th>
        <th scope="col">Видалити</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of adminBlogs">
        <td>{{blog.id}}</td>
        <td>{{blog.name}}</td>
        <td>{{blog.description}}</td>
        <td><img height="50px" [src]="blog.imagePath" alt=""></td>
        <td><button class="btn btn-danger" (click)="deleteItem(blog.id)">Видалити</button></td>
      </tr>
    </tbody>
  </table>
</div>
