<section class="product-info">
  <div class="product-info__container __container">
    <div class="product-info__body">
      <div class="product-info_img _ibg">
        <img [src]="currentProduct.imagePath" alt="">
      </div>
      <div class="product-info__info">
        <h1 class="product-info__title">{{currentProduct.name}}</h1>
        <p class="product-info__desc">{{currentProduct.description}}</p>
        <div class="product-info__price">{{currentProduct.price}} грн</div>
        <div class="prod__btn-group">
          <button class="prod__btn-buy">Додати в кошик</button>
          <input type="number" name="" id="" class="prod__count" [value]="currentProduct.count">
        </div>
      </div>
    </div>
  </div>
</section>
