<section class="product-info">
  <div class="product-info__container __container">
    <ul class="product-menu">
      <li class="product-menu__item">
        <a [routerLink]="[ '' ]" class="product-menu__link">Головна ></a>
      </li>
      <li class="product-menu__item">
        <a [routerLink]="[ '/product/'+currentProduct.category ]" class="product-menu__link">{{categoryName}} ></a>
      </li>
      <li class="product-menu__item">
        <a class="product-menu__link">{{currentProduct.name}}</a>
      </li>
    </ul>
    <div class="product-info__body">
      <div class="product-info_img _ibg">
        <img [src]="currentProduct.imagePath" alt="">
      </div>
      <div class="product-info__info">
        <h1 class="product-info__title">{{currentProduct.name}}</h1>
        <p class="product-info__desc">{{currentProduct.description}}</p>
        <p *ngIf="currentProduct.type" class="product-info__desc">Тип товару: {{currentProduct.type}}</p>
        <p *ngIf="currentProduct.country" class="product-info__desc"> Країна виробник: {{currentProduct.country}}</p>
        <p *ngIf="currentProduct.weight" class="product-info__desc"> Вага / Обєм / шт: {{currentProduct.weight}}</p>
        <div class="product-info__price">{{currentProduct.price * currentProduct.count}} грн</div>
        <div class="prod__btn-group">
          <button (click)="addToBasket(currentProduct)" class="prod__btn-buy">Додати в кошик</button>
          <input (change)="changeCount(currentProduct)" [(ngModel)]="currentProduct.count" min="1" type="number" name=""
            id="" class="prod__count" [value]="currentProduct.count">
        </div>
      </div>
    </div>
  </div>
</section>