<div class="container mt-5">
  <form [formGroup]="productForm" (submit)="addItem()">
    <div class="form-group my-2">
      <label form class="mb-2" for="exampleInputEmail1">Категорія товару (Обов'язково!)</label>
      <select formControlName="category" class="form-select" aria-label="Default select example">
        <option value="coffee">Кава</option>
        <option value="another">До кави</option>
        <option value="dishes">Посуд</option>
      </select>
    </div>
    <div class="row">
      <div class="form-group my-2 col-4">
        <input formControlName="name" type="text" class="form-control" placeholder="Назва товару (Обов'язкове поле)">
      </div>
      <div class="form-group my-2 col-4">
        <input formControlName="type" type="text" class="form-control" placeholder="Тип товару">
      </div>
      <div class="form-group my-2 col-4">
        <input formControlName="path" type="text" class="form-control" placeholder="path (Обов'язкове поле)">
      </div>
    </div>
    <div class="form-floating my-2">
      <textarea style="height: 100px;" formControlName="description" class="form-control"
        id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Опис товару (Обов'язкове поле)</label>
    </div>
    <div class="row">
      <div class="form-group my-2 col-4">
        <input formControlName="weight" type="text" class="form-control" placeholder="Вага товару">
      </div>
      <div class="form-group my-2 col-4">
        <input formControlName="price" type="number" class="form-control" placeholder="Ціна (Обов'язкове поле)">
      </div>
      <div class="form-group my-2 col-4">
        <input formControlName="country" type="text" class="form-control" placeholder="Країна виробник">
      </div>
    </div>
    <div class="form-group my-2">
      <input formControlName="imagePath" type="text" class="form-control"
        placeholder="Шлях зображення.. (Обов'язкове поле)">
    </div>
    <button [disabled]="productForm.invalid" type="submit" class="btn btn-primary my-2 w-100">Додати товар</button>
  </form>
</div>


<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Назва</th>
        <th scope="col">Тип</th>
        <th scope="col">Опис</th>
        <th scope="col">Вага</th>
        <th scope="col">Ціна</th>
        <th scope="col">Країна</th>
        <th scope="col">Категорія</th>
        <th scope="col">Зображення</th>
        <th scope="col">Видалити</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of adminProducts">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.description}}</td>
        <td>{{product.weight}}</td>
        <td>{{product.price}}</td>
        <td>{{product.country}}</td>
        <td>{{product.category}}</td>
        <td><img height="50px" [src]="product.imagePath" alt=""></td>
        <td><button class="btn btn-danger" (click)="deleteItem(product.id)">Видалити</button></td>
      </tr>
    </tbody>
  </table>
</div>
