<section class="contacts">
  <div class="contacts__container __container">
    <h1 class="contacts__title title">Контакти</h1>
    <div class="contacts__body">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a href="mailto:abc@example.com" class="contacts__link">kavoposhta@gmail.com</a>
        </li>
        <li class="contacts__item">
          <a href="" class="contacts__link">096 141 00 96</a>
        </li>
        <li class="contacts__item">
          <a href="" class="contacts__link">вулиця Мечникова, 16в, Львів, Львівська область, 79007</a>
        </li>
      </ul>
      <div class="home__mini-title home__mini-title_left">
        Де купити офлайн у Львові
      </div>
      <div class="contacts__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82352.4824660267!2d23.94219618337714!3d49.83277867704679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7c09109a57%3A0x4223c517012378e2!2z0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1679306319883!5m2!1suk!2sua"
          width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
