<section class="blog">
  <div class="blog__container __container">
    <h1 class="blog__title title">Блог</h1>
    <div *ngIf="userBlogs.length == 0" class="blog__body-empty">
      <div class="blog__body-empty-img _ibg">
        <p>Блог не знайдено :(</p>
        <img
          src="https://www.tastingtable.com/img/gallery/20-different-types-of-coffee-explained/l-intro-1659544996.jpg"
          alt="">
      </div>
    </div>
    <div class="blog__body">
      <div class="blog__item" *ngFor="let blog of userBlogs">
        <a [routerLink]="[  '/blog/', blog.id]" class="blog__item-img _ibg">
          <img [src]="blog.imagePath" alt="">
        </a>
        <h2 class="blog__item-title">{{blog.name}}</h2>
        <!-- <div class="blog__item-date">13.01.2021</div> -->
        <div class="blog__item-desc">{{blog.description | slice:0:250}} <span
            *ngIf="blog.description.length > 250">...</span>
          <a class="blog__item-link" [routerLink]="[  '/blog/', blog.id]">Читати далі »</a>
        </div>
      </div>

    </div>
  </div>

</section>
