.delivery {

  // .delivery__container

  &__container {
    padding: 50px 15px 90px 15px;
  }

  // .delivery__title

  &__title {
    text-align: center;
    margin: 0px 0px 30px 0px;
  }

  // .delivery__second-title

  &__second-title {
    font-size: 1.75rem;
    line-height: 1.6rem;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
  }

  // .delivery__text

  &__text {
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 500;
    color: #000;
    margin: 30px 0px 30px 0px;
  }

  // .delivery__subtitle

  &__subtitle {
    font-size: 18px;
  }

  // .delivery__list

  &__list {
    font-size: 18px;
  }

  // .delivery__item

  &__item {
    font-size: 16px;
    margin: 15px 0px 0px 20px;
    position: relative;

    &:before {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 3px;
      left: -18px;
      border-radius: 50%;
      border: 2px solid grey;
      content: "";
    }

    // .delivery__item_bold

    &_bold {}
  }
}
