<section class="delivery">
  <div class="delivery__container __container">
    <h1 class="delivery__title title">Оплата і доставка</h1>
    <h2 class="delivery__second-title">Оплата</h2>
    <p class="delivery__text">Оплатити товар можна двома способами:</p>
    <h3 class="delivery__subtitle">1. Банківською карткою на сайті (Visa або MasterCard)</h3>
    <p class="delivery__text">Оберіть варіант оплати карткою під час оформлення замовлення. Після перевірки даних
      замовлення, ви будете перенаправлені на сторінку цього сервісу.</p>
    <ul class="delivery__list">
      Уведіть:
      <li class="delivery__item">номер картки
      </li>
      <li class="delivery__item">термін дії картки
      </li>
      <li class="delivery__item">ПІБ власника картки
      </li>
      <li class="delivery__item">CVV/CVC код
      </li>
    </ul>
    <p class="delivery__text">Натисніть кнопку “Оплатити”. Ми використовуємо платіжний сервіс WayForPay з технологією
      захисту даних в інтернеті.</p>
    <h3 class="delivery__subtitle">1. Банківською карткою на сайті (Visa або MasterCard)</h3>
    <p class="delivery__text">При оформленні замовлення оберіть варіант оплати “Готівка при отриманні”. Сплатіть
      вартість замовлення після того, як оглянете товари.</p>
    <h2 class="delivery__second-title">Доставка</h2>
    <ul class="delivery__list">
      <li class="delivery__item delivery__item_bold">Доставка до відділення “Нова пошта” по всій Україні
      </li>
    </ul>
    <p class="delivery__text">Ви можете оформити доставку до відділення «Нова пошта» по всій Україні.
    </p>
    <p class="delivery__text">Термін доставки по Україні до 5 днів з моменту оформлення замовлення. Якщо один з товарів
      в замовленні відсутній на основному складі, доставка може зайняти від 2 до 7 днів.
    </p>
    <p class="delivery__text">Доставка оплачується покупцем згідно з тарифами компанії “Нова Пошта”.
    </p>
  </div>
</section>
