<section class="checkout">
  <div class="checkout__container __container">
    <h1 class="checkout__title title">Корзина</h1>
    <div *ngIf="basket.length == 0" class="checkout__title title">Корзина пуста <a [routerLink]="[ '' ]">Здійснити
        покупки</a></div>
    <div class="checkout__body">
      <table *ngIf="basket.length >0" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Товар</th>
            <th scope="col">Фото</th>
            <!-- <th scope="col">Кількість</th> -->
            <th scope="col">Ціна</th>
            <th scope="col">Проміжний підсумок</th>
            <th scope="col">Видалити</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of basket">
            <td>{{item.name}}</td>
            <td><img [src]="item.imagePath" alt="" height="70px"></td>
            <!-- <td>
              <input [(ngModel)]="item.count" type="number" [value]="item.count">
            </td> -->
            <td>
              {{item.price}} грн
            </td>
            <td>
              {{item.price * item.count}} грн
            </td>
            <td (click)="deleteCartItem(item)">
              Х
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="basket.length >0" class="checkout__total-price">
        Загальна ціна: {{totalPrice}} грн
      </div>
      <h3 *ngIf="basket.length >0" class="checkout__subtitle">
        Доставка
      </h3>
      <div *ngIf="basket.length >0" class="checout__form">
        <form [formGroup]="orderForm" (submit)="addOrder()">
          <div class="form-group">
            <input formControlName="firstName" name="firstName" type="text" class="form-control"
              placeholder="Твоє ім'я">
          </div>
          <div class=" my-3" [style.display]="orderForm.controls['firstName'].errors?.['required'] ? 'block' : 'none'">
            Поле Ім'я обов'язкове!
          </div>
          <div class="form-group">
            <input formControlName="lastName" name="lastName" type="text" class="form-control" placeholder="Прізвище">
          </div>
          <div class=" my-3" [style.display]="orderForm.controls['lastName'].errors?.['required'] ? 'block' : 'none'">
            Поле Прізвище обов'язкове!
          </div>
          <div class="form-group">
            <input formControlName="phone" name="phone" type="text" class="form-control" placeholder="Телефон">
          </div>
          <div class=" my-3" [style.display]="orderForm.controls['phone'].errors?.['required'] ? 'block' : 'none'">
            Поле Телефон обов'язкове!
          </div>
          <div class="form-group">
            <input formControlName="email" name="email" type="text" class="form-control"
              placeholder="Електронна пошта (сюди прийде накладна)">
          </div>
          <div class=" my-3" [style.display]="orderForm.controls['email'].errors?.['pattern'] ? 'block' : 'none'">
            Поле Email введене не коректно
          </div>
          <div class="form-floating">
            <textarea formControlName="info" name="info" class="form-control" placeholder="Leave a comment here"
              id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Додаткова інформація (не обов'язково)</label>
          </div>
          <button [disabled]="orderForm.invalid" type="submit" class="btn btn-success">Підтвердити замовлення</button>
        </form>
      </div>
    </div>
  </div>
</section>
