<section class="success">
  <div class="success__container __container">
    <div class="success__body">
      <div class="success__img _ibg"><img
          src="https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_33/2203981/171026-better-coffee-boost-se-329p.jpg"
          alt=""></div>
      <h2 class="success__subtext">Дякуємо за замовлення!</h2>
      <h2 class="success__text">Незабаром з вами зв'яжуться для оформлення замовлення.</h2>
      <a class="success__btn" [routerLink]="[ '' ]">повернутися на головну</a>
    </div>
  </div>
</section>
